html,body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Helvetica Neue", sans-serif;
  background: #f2f2f2;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../imgs/bg-min.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
}

.wh {color:#FFF;}

.header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-block {
  margin-left: 10%;
  margin-right: 10%;
}

.summary-block p {
  color:#373D3F;
  margin: 0;
  margin-top: 1%;
}

.summary-block h1 {
  text-align:left;
  color:#373D3F;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: #111111;
  width: 100%;
  min-height: 55vh;
  max-height: 100vh;
}

.contact h2 {
  color: #FFF;
  margin-bottom:10px;
}

.contact p {
  text-align: center;
  color: #D3D3D3;
  margin-top: 10px;
}

.f-ico {
  margin-left: 2px;
  margin-right: 2px;
  color: #FFF;
}

.contact div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact div p{
  display: flex;
  justify-content: space-around;
  min-width: 20%;
}

.footer {
  background: #111111;
  display: flex;
  justify-content: center;
  color: #778899;
  font-size: 12px;
  height: 5vh;
}

.circle-down {
  margin-top: 20%;
  height: 35px;
  width: 35px;
  background: url(../imgs/chev-circle-down.png) no-repeat center center;
  background-size: cover;
}

.circle-up {
  margin-top: 20%;
  height: 35px;
  width: 35px;
  background: url(../imgs/chev-circle-up.png) no-repeat center center;
  background-size: cover;
}

@-webkit-keyframes bounce {
    0% { transform: translateY(-3px)  }
    50% { transform: translateY(5px) }
    100% { transform: translateY(-3px) }
}

@keyframes bounce {
    0% { transform: translateY(-3px)  }
    50% { transform: translateY(5px) }
    100% { transform: translateY(-3px) }
}

.zio {
    position: absolute;
    margin: 0;
    bottom: 40px;
    z-index: 20;
    width: 40px;
    height: 40px;
    border-radius: 100%;

    -webkit-animation: bounce 1s infinite ease-in-out;
    -o-animation: bounce 1s infinite ease-in-out;
    -ms-animation: bounce 1s infinite ease-in-out;
    -moz-animation: bounce 1s infinite ease-in-out;
    animation: bounce 1s infinite ease-in-out;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 62px; font-weight: normal; letter-spacing: -1px; line-height: 1; text-align: center; }


h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }


p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }
