html,body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Helvetica Neue", sans-serif;
  background: #f2f2f2;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../imgs/bg-min.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  color: #D3D3D3;
  margin-left: 10px;
  /* margin-right: 10px; */
  font-size: 20px;
  cursor: pointer;
}

.nav-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 2%;
}

.nav-item:hover {
  color: #FFF;
}

.nav-item-highlighted {
  color: #FFF;
}
.nav-brand {
  color: #FFF;
  margin-right: auto;
  margin-left: 2%;
}

.nav-brand:hover {
  color: #D3D3D3;
}

.invis {
  display: none;
}

.nav-bg {
  background-color: #111111;
  background-color: rgba(0,0,0,0.95);
}

.wh {color:#FFF;}

.header {
  margin-top: 100px;
}

.about {
  min-height: 45vh;
  margin-bottom: 5%;
}

.summary-block {
  margin-left: 10%;
  margin-right: 10%;
}

.summary-block p {
  /* color: #111111;
  color: rgba(0, 0, 0, 0.8); */
  color:#373D3F;
  margin: 0;
}

.summary-block h1 {
  text-align:left;
  /*color: rgba(0, 0, 0, 0.8);*/
  color:#373D3F;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: #111111;
  width: 100%;
  min-height: 55vh;
  max-height: 100vh;
}

.contact h2 {
  color: #FFF;
  margin-bottom:10px;
}

.contact p {
  text-align: center;
  color: #D3D3D3;
  margin-top: 10px;
}

.f-ico {
  margin-left: 2px;
  margin-right: 2px;
  color: #FFF;
}

.contact div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact div p{
  display: flex;
  justify-content: space-around;
  min-width: 20%;
}

.footer {
  background: #111111;
  display: flex;
  justify-content: center;
  color: #778899;
  font-size: 12px;
  height: 5vh;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 62px; font-weight: normal; letter-spacing: -1px; line-height: 1; text-align: center; }


h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }


p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }
