body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../imgs/bg-min.jpg');
  background-size: cover;
}

#header canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#header h1, p {
  padding: 0;
  margin: 0;
}
/* taken from brandonmowat.com */
h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.8);
}

/* taken from brandonmowat.com */
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.container p {
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}

.container h1 {
  display: block;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.02em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 300;
  font-size: 60px;
}

.footer {
  position: relative;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  display: flex;
  opacity: 0.27;
}

.footer-content {
  position: relative;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.gitico {
  color: rgba(0, 0, 0, 0.8);
}

.gitico:hover {
  color: #F62459;
}

.heartico {
  color: red;
}

.defaultico {
  color: #2C3E50;
}

.nounderline {
  text-decoration: none !important;
}

.nounderline:hover {
  color: #F62459;
}

.ico-default {
  color: rgba(0,0,0,0.8);
}

.aboutme {
  padding-top: 30px;
  height: auto;
  color: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.projects {
  padding-top: 20px;
  height: auto;
  color: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.affix {
    top: 0;
    width: 100%;
}

.customnav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  padding-left: 20px;
}

.customnav-title {
  margin-right: auto;
}

.customnav-title a {
  color: #FFF !important;
}

/*override bootstrap style - no rounded corners*/
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.indented-block {
  margin-left: 40px;
}

.twico:hover {
  color: blue;
}

.abt-bio {
  padding-left: 20px;
  justify-content: center;
  text-align: center;
  width: 60%;
  align-items: center;
}

.break {
  width: 25%;
}

/* This only works with JavaScript,
if it's not present, don't show loader,
took this code from a nice tutorial
@ http://smallenvelop.com/display-loading-icon-page-loads-completely/
*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
	height: 100%;
	z-index: 9999;
	background: url(../imgs/loader-64x/Preloader_5.gif) center no-repeat #fff;
}

.se-pre-con h4 {
  padding-top: 84px;
  color: #2F4F4F;
}
