body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* taken from brandonmowat.com */
h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.8);
}

/* taken from brandonmowat.com */
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.container p {
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.6);
}

.container h1 {
  display: block;
  font-size: 60px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 400;
}

.dropdown-container {
  position: relative;
  float: right;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
}

.dropdown-outer {
  padding-right: 20px;
  padding-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  opacity: 0.27;
}

.footer-content {
  position: relative;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.gitico {
  color: black;
}

.gitico:hover {
  color: #F62459;
}

.heartico {
  color: red;
}

.defaultico {
  color: #2C3E50;
}

/* The Modal (background), taken from w3schools */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: scroll; /* Enable scroll if needed */
    overflow-x: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.code {
    font-family: monospace;
}

.keyword {
  color: #F74160;
}

.string {
  color: #4EBF4E;
}

.innercode {
  padding-left: 5em;
  padding-top: 15px;
}

.indented-code {
  padding-left: 5em;
}

.comment {
  color:#969696;
}

.nounderline {
  text-decoration: none;
}

.nounderline:hover {
  color: #F62459;
}
